<dict>
    <key>Black</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlackIconIpad</string>
            <string>BlackIconLargeIpad</string>
            <string>BlackNotificationIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>BlackClassic</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlackClassicIconIpad</string>
            <string>BlackClassicIconLargeIpad</string>
            <string>BlackClassicNotificationIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>BlackFilled</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlackFilledIconIpad</string>
            <string>BlackFilledIconLargeIpad</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>Blue</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlueIconIpad</string>
            <string>BlueIconLargeIpad</string>
            <string>BlueNotificationIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>BlueClassic</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlueClassicIconIpad</string>
            <string>BlueClassicIconLargeIpad</string>
            <string>BlueClassicNotificationIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>BlueFilled</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlueFilledIconIpad</string>
            <string>BlueFilledIconLargeIpad</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>WhiteFilled</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>WhiteFilledIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>FontAwesomeTelegramIcon</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>FontAwesomeTelegramIconIpad</string>
            <string>FontAwesomeTelegramIconLargeIpad</string>
            <string>FontAwesomeTelegramNotificationIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <!-- See AlternateIcons.plist: the _NNxNN file names never existed on disk.
         The -76 / -83.5 bases below are the iPad-sized artwork that does exist. -->
    <key>New1</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>New1</string>
            <string>New1-76</string>
            <string>New1-83.5</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>New2</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>New2</string>
            <string>New2-76</string>
            <string>New2-83.5</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>Premium</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>Premium</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>PremiumBlack</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>PremiumBlack</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>PremiumTurbo</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>PremiumTurbo</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhiteGhost</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhiteGhost_20x20</string>
            <string>TelewhiteGhost_29x29</string>
            <string>TelewhiteGhost_40x40</string>
            <string>TelewhiteGhost_58x58</string>
            <string>TelewhiteGhost_60x60</string>
            <string>TelewhiteGhost_76x76</string>
            <string>TelewhiteGhost_80x80</string>
            <string>TelewhiteGhost_87x87</string>
            <string>TelewhiteGhost_120x120</string>
            <string>TelewhiteGhost_152x152</string>
            <string>TelewhiteGhost_167x167</string>
            <string>TelewhiteGhost_180x180</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhiteWhite</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhiteWhite_20x20</string>
            <string>TelewhiteWhite_29x29</string>
            <string>TelewhiteWhite_40x40</string>
            <string>TelewhiteWhite_58x58</string>
            <string>TelewhiteWhite_60x60</string>
            <string>TelewhiteWhite_76x76</string>
            <string>TelewhiteWhite_80x80</string>
            <string>TelewhiteWhite_87x87</string>
            <string>TelewhiteWhite_120x120</string>
            <string>TelewhiteWhite_152x152</string>
            <string>TelewhiteWhite_167x167</string>
            <string>TelewhiteWhite_180x180</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhiteNeon</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhiteNeon_20x20</string>
            <string>TelewhiteNeon_29x29</string>
            <string>TelewhiteNeon_40x40</string>
            <string>TelewhiteNeon_58x58</string>
            <string>TelewhiteNeon_60x60</string>
            <string>TelewhiteNeon_76x76</string>
            <string>TelewhiteNeon_80x80</string>
            <string>TelewhiteNeon_87x87</string>
            <string>TelewhiteNeon_120x120</string>
            <string>TelewhiteNeon_152x152</string>
            <string>TelewhiteNeon_167x167</string>
            <string>TelewhiteNeon_180x180</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhiteRed</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhiteRed</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhiteGreen</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhiteGreen</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhiteOrange</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhiteOrange</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhitePurple</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhitePurple</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhitePink</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhitePink</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhiteBlue</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhiteBlue</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhiteCyan</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhiteCyan</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhiteMint</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhiteMint</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhiteIndigo</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhiteIndigo</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhiteBrown</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhiteBrown</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>TelewhiteGraphite</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>TelewhiteGraphite</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
</dict>
